<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zkcm.problemtool.system.dao.ProblemTypeMapper">
    <resultMap id="BaseResultMap" type="com.zkcm.problemtool.system.domain.ProblemType">
        <id column="id" property="id"/>
        <result column="name"  property="name"/>
        <result column="remark"  property="remark"/>
        <result column="status"  property="status"/>
        <result column="group_dept"  property="groupDept"/>
        <result column="group_position"  property="groupPosition"/>
        <result column="group_name"  property="groupName"/>
        <result column="create_dept"  property="createDept"/>
        <result column="create_position"  property="createPosition"/>
        <result column="create_name"  property="createName"/>
        <result column="visible_dept"  property="visibleDept"/>
        <result column="visible_position"  property="visiblePosition"/>
        <result column="visible_name"  property="visibleName"/>
        <result column="create_user"  property="createUser"/>
        <result column="create_time"  property="createTime"/>
        <result column="modify_time"  property="modifyTime"/>
    </resultMap>
</mapper>